{% extends "base.html" %}
{% block title %} Detalles Empleados {% endblock title %}
{% block content %}
<a href="{% url "home" %}">&#8592; Volver</a>
<br><br>
{% if employ is None %}
<article>
    <p><strong>Empleado no existe</strong></p>
</article>
{% else %}
<article>
    <div class="grid">
        <div>
            <p><strong>Nombre</strong>: {{ employ.name }}</p>
            <p><strong>Fecha de Ingreso</strong>: {{ employ.entry_date }}</p>
            <p><strong>Días de vacaciones tomados</strong>: {{ days_taken }}</p>
        </div>
        <div>
            <p><strong>Días Disponibles</strong>: {{ vacation_days|floatformat:1 }}</p>
            <p><a type="button" class="btn btn-primary" href="{% url 'vacation_taken_insert' employ.id %}">Ingresar Solicitud de Vacaciones</a></p>
        </div>
    </div>
    <table>
        <tr>
            <th>Id</th>
            <th>Fecha de solicitud</th>
            <th>Cantidad de días tomados</th>
        </tr>
        {% for day_taken in vacations_taken %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ day_taken.vacation_date }}</td>
            <td>{{ day_taken.vacation_days }}</td>
        </tr>
        {% endfor %}
    </table>
</article>
{% endif %}
{% endblock content %}